<ion-toolbar id="header-toolbar">
  <ion-buttons slot="secondary" (click)="navigateBack()">
    <ion-button color="secondary">
      <ion-icon class="header-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>BomPrato</ion-title>
</ion-toolbar>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Pagamento
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group (ionChange)="selectPagamento()" #pagamentoRadioGroup value="pagamento">
      <div class="wrapper" *ngFor="let paymentMethods of ['Multibanco','Paypal','MBWay','Dinheiro']" >
        <div class="radio-col">
          <ion-item>
          <ion-radio mode="md" slot="start" value="{{paymentMethods}}"></ion-radio>
        </ion-item>
        </div>
        <div class="payment-col">
          <span>{{paymentMethods}}</span>
        </div>
      </div>
    </ion-radio-group>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button color="light" class="ion-margin" (click)="terminar()">
    Terminar
   </ion-button>
</ion-footer>
