<ion-toolbar id="header-toolbar">
  <ion-buttons slot="primary" (click)="navigateToAccountPage()">
    <ion-button color="secondary">
      <ion-icon class="header-icon" slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>BomPrato</ion-title>
</ion-toolbar>

<ion-content>
  <menu-component></menu-component>
</ion-content>

<lib-ionic-pullup [(state)]="footerState" [toolbarTopMargin]="230" [minBottomVisible]="0">
  <ion-toolbar id="footer-toolbar" (click)="toggleFooter()" #ionDragFooter>
    <ion-icon id="footer-icon" [ngClass]="this.footerState === 0 ? '' : this.footerState === 1 ? 'invert' : ''"
      name="chevron-up-outline"></ion-icon>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
  <ion-content id="footer-content">
    <div id="no-items-message-wrapper" *ngIf="footerBodyState == 'empty'">
      <span>Nenhum item selecionado.</span>
    </div>
    <div id="footer-item-list" *ngIf="footerBodyState === 'showItems'">
      <div class="footer-item" *ngFor="let item of order.items">
        <div class="footer-item-image-wrapper">
          <ion-img class="footer-item-image" src="{{item.image}}"></ion-img>
        </div>
        <div class="footer-item-details-wrapper">
          <div class="footer-item-details-top">
            <ion-label class="footer-item-details-description">{{item.name}}</ion-label>
            <ion-label class="footer-item-details-total">{{item.total| number : '1.2-2'}}€</ion-label>
          </div>
          <div class="footer-item-details-bottom">
            <div class="footer-quantity-picker-box">
              <ion-icon class="footer-item-quantity-button-left" (click)="removeItemQuantity(item)" name="remove-circle" ></ion-icon>
              <span>{{item.quantity}}</span>
              <ion-icon class="footer-item-quantity-button-right" (click)="addItemQuantity(item)" name="add-circle">
              </ion-icon>
            </div>
            <ion-icon class="footer-item-delete" (click)="removeItem(item)" name="trash-bin-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-choose-order-time-wrapper" *ngIf="footerBodyState === 'pickDeliveryTime'">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-radio-group value="now" #radioButtonGroup (ionChange)="radioGroupChange()">
              <ion-list-header>
                <ion-label>Hora de entrega</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>Agora</ion-label>
                <ion-radio slot="start" value="now"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-datetime placeholder="Escolher Hora" displayFormat="HH:mm" [min]="timePickerMinAndMaxTime[0]" [max]="timePickerMinAndMaxTime[1]" (ionChange)="timePickerChange($event)"></ion-datetime>
                <ion-radio slot="start" value="customTime"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div id="footer-bottom" *ngIf="footerBodyState == 'showItems' || footerBodyState == 'pickDeliveryTime'">
      <div id="footer-total-wrapper">
        <span>{{order.total| number : '1.2-2'}}€</span>
        <ion-button color="dark" (click)="startOrder()">Encomendar</ion-button>
      </div>
    </div>
  </ion-content>
</lib-ionic-pullup>