#header{
    height: 3rem;
    margin-top: 1rem;
    ion-title{
        font-size: 1.5rem;
    }
}

ion-content{
    --ion-background-color: transparent; 
}

#header-toolbar{
    box-shadow: 1px 7px 15px -9px #00000095;
    --background: rgba(255, 255, 255, 0.501);  
    backdrop-filter: blur(3px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    .header-icon{
        font-size: 2.4rem;
        color: gray;
    }

    ion-title{
        font-size: 1.6rem;
    }
}

#footer-toolbar{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 15px 15px 0px -9px #00000095;
    --background: rgba(255, 255, 255, 0.501);  
    backdrop-filter: blur(3px);
    text-align: center;

    #footer-button{
        --background: black;
        --background-activated: grey;
        width: 7rem;
        font-size: 1.1rem;
    }
}