<ion-header>
  <ion-toolbar>
    <ion-title>Registo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 id="titulo" class="ion-text-center" style="margin-top: 50px;">Bom Prato Lda</h1>

  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10%;">
  <ion-icon name="restaurant-outline" class="foodIcon"></ion-icon>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>

    <h5 style="margin-top: 10px; margin-left: 4%;">Nome</h5>
    <ion-item lines="none">
            <ion-input type="text" formControlName="nome"formControlName="nome" style="border: skyblue solid 2px;" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.nome.errors?.required">
      Campo vazio. Introduza o seu nome.
    </span>
    

    <h5 style="margin-top: 10px; margin-left: 4%;">Username</h5>
    <ion-item lines="none">
            <ion-input type="text"  formControlName="username" style="border: skyblue solid 2px;" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.username.errors?.required">
     Campo vazio. Introduza um username.
    </span>
   

    <h5 style="margin-top: 10px; margin-left: 4%;">Password</h5>
    <ion-item lines="none">
      <ion-input type="password" formControlName="password" style="border: skyblue solid 2px;" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.required">
      Campo vazio. Introduza uma password. 
     </span>
    

    <ion-grid>

      <ion-row>
        <ion-col>
          <div style="display: flex; justify-content: center; align-items: center;margin-top: 30px;" >
          <ion-button type="submit" strong="true" color="secondary" expand="block">Registo</ion-button>
        </div>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col>
        <div style="display: flex; justify-content: center; align-items: center;" >
        <ion-button strong="true" color="secondary" expand="block" (click)="pagLogin()">Login</ion-button>
      </div>
      </ion-col>
    </ion-row>
  
    </ion-grid>
  </form>


</ion-content>
