<ion-content>
  <div id="header">
    <ion-icon (click)="pagLogin()" class="header-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
    <span id="titulo" >Bom Prato Lda</span>
  </div>


  <div class="icon-wrapper">
    <ion-icon name="restaurant-outline"></ion-icon>
    </div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-wrapper">
    <h5 class="form-label">Nome</h5>
    <ion-item lines="none" class="roundedInput">
            <ion-input type="text" formControlName="nome"formControlName="nome" class="input" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.nome.errors?.required">
      Campo vazio. Introduza o seu nome.
    </span>
  </div>
  <div class="form-wrapper">
    <h5 class="form-label">Username</h5>
    <ion-item lines="none" class="roundedInput">
            <ion-input type="text"  formControlName="username" class="input" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.username.errors?.required">
     Campo vazio. Introduza um username.
    </span>
  </div>
  <div class="form-wrapper">
    <h5 class="form-label">Password</h5>
    <ion-item lines="none" class="roundedInput">
      <ion-input type="password" formControlName="password" class="input" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.required">
      Campo vazio. Introduza uma password. 
     </span>
    </div>

    <ion-grid>

      <ion-row>
        <ion-col>
          <div class="login-button-wrapper" >
          <ion-button type="submit" strong="true" color="light" expand="block">Registo</ion-button>
        </div>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col>
        <div class="register-button-wrapper" >
        <ion-button strong="true" color="light" expand="block" (click)="pagLogin()">Login</ion-button>
      </div>
      </ion-col>
    </ion-row>
  
    </ion-grid>
  </form>


</ion-content>
