.my-custom-class .alert-wrapper {
    background: #e5e5e5;
  }

.foodIcon {
    height: 6em;
    width: 6em;
    color:grey;
    margin-top: 10px;

}  

.button {
   
    width: 50%;
    display: flex; justify-content: center; align-items: center;
}