<ion-header>
  <ion-toolbar>
    <ion-title>Moradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-radio-group (ionChange)="selectMorada()" #moradasRadioGroup value="morada">
      <ion-list-header>
        <ion-label>Moradas</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let m of moradas" >
        <h5>{{m.city}}</h5><br>
        <ion-text>Num de Porta:{{m.doorMumber}}</ion-text>
        <ion-text>Piso:{{m.floor}}</ion-text>
        <ion-text>Código Postal:{{m.postalCode}}</ion-text>
        <ion-radio id="morada" slot="start" [value]="m"></ion-radio>
      </ion-item>
    

    </ion-radio-group>
  </ion-list>

  <ion-button class="ion-margin" (click)="pagMorada()">
   Adicionar moradas
  </ion-button>

  <ion-button class="ion-margin" (click)="proximo()">
    Próximo
   </ion-button>

</ion-content>
