ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card{
    background: white;
}

ion-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}