<ion-toolbar id="header-toolbar">
  <ion-buttons slot="primary">
    <ion-button color="secondary">
      <ion-icon class="header-icon" slot="icon-only" name="person-circle" (click)="navigateToAccountPage()"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>BomPrato</ion-title>
</ion-toolbar>

<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col size="12" id="item-image">
        <ion-img src="{{this.item.image}}"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="item-name">
        <span>{{this.item.name}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="item-decription">
        <span>{{this.item.description}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="item-quantity">
        <ion-grid>
          <ion-row *ngFor="let ingredient of this.item.editableIngredients; let ingredientIndex = index">
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" id="ingredient-name-wrapper">
                    <span id="ingredient-name">{{ingredient.name}}</span>
                  </ion-col>
                  <ion-col size="4" id="quantity-icon-wrapper">
                    <ion-icon class="quantity-icon" name="remove-circle" (click)="removeIngredientQuantity(item,ingredient)"></ion-icon>
                      <span id="ingredient-quantity">{{ingredient.quantity}}</span>
                    <ion-icon class="quantity-icon" name="add-circle" (click)="addIngredientQuantity(item,ingredient)"></ion-icon>
                  </ion-col>
                  <ion-col id="ingredient-price-wrapper">
                    <span id="ingredient-unitPrice">{{ingredient.unitPrice}}€ /item</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" id="item-price">
       Preço:{{this.item.total | number : '1.2-2'}}€
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4" id="add-button">
        <ion-button>Adicionar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar id="footer-toolbar">
      <ion-button id="footer-button">Pedido</ion-button>
  </ion-toolbar>
</ion-footer>