  <ion-card (click)="openCategory($event)">
    <ion-card-content>
    <div class="category">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="category-name">
            <p>Sushi</p>
          </ion-col>
          <ion-col size="8" class="category-image">
            <ion-img src="https://www.sushishop.pt/product-6636-400x400/Box-for-Two.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="items-container" open="false">
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-card-content>
  </ion-card>
  <ion-card (click)="openCategory($event)">
    <ion-card-content>
    <div class="category">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="category-name">
            <p>Sushi</p>
          </ion-col>
          <ion-col size="8" class="category-image">
            <ion-img src="https://www.sushishop.pt/product-6636-400x400/Box-for-Two.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="items-container" open="false">
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="item">
        <ion-grid>
          <ion-row>
            <ion-col class="item-image-container" size="4">
              <ion-img class="item-image" src="https://cdn.picpng.com/sushi/sushi-illustration-27657.png"></ion-img>
            </ion-col>
            <ion-col class="item-details-container" size="8">
              <span class="item-name">Sushi Roll Xpto</span>
              <span class="item-description">Algas do rio lima a envolverem arroz oriental e bacalhau cru, que maravilha</span>
              <span class="item-price">357€</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-card-content>
  </ion-card>